@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Page Layout */

html, body, #root, .App {
    height: 100%;
    margin: 0;
    font-family: 'Permanent Marker';
}

html {
    background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(25,25,25,1) 100%) fixed;
    color: #fff;
}

.separator {
    height: 2px;
    background-color: white;
    width: 20%;
    margin: 0px;
}

/* Text Section Styling */

.headerTextArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    color: #fff;
    font-size: 26px;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Rubik';
}

.textArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: #fff;
    font-size: 26px;
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-family: 'Rubik';
}

/* Header + Navbar Component */

.headerBar {
    width: 100%;
    height: auto;
    background-color: #101010;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    position: absolute;
    left: 10px;
}

.navbarContainer {
    overflow: hidden;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.navbar a {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 20px 18px;
}

.menuDropdown {
    float: left;
    overflow: hidden;
}

.dropdownButton {
    font-weight: bold;
}

.menuDropdown .dropdownButton {
    color: white;
    background-color: inherit;
    font-size: 22px;
    font-family: inherit;
    margin: 0;
    padding: 20px 18px;
    border: none;
    outline: none;
}

.menuDropdown .dropdownButton:hover {
    cursor: pointer;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #101010;
    min-width: 140px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,0.2);
}

.dropdownContent a {
    float: none;
    color: white;
    text-decoration: none;
    text-align: left;
    font-weight: 200;
    padding: 12px 16px;
    display: block;
}

/* Navbar Component Graphical Functions */

.dropdownContent a:hover {
    background-color: #202020;
}

.menuDropdown:hover .dropdownContent {
    display: block;
}

.navbar a:hover, .menuDropdown:hover .dropdownButton {
    color: #e7e7e7;
    background-color: #151515;
}

/* Subheader */

.subheader {
    height: auto;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    margin-top: 60px;
}

.subheader h1 {
    margin-top: 50px;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 0;
}

.subheader img {
    height: 70%;
}

/* Goated Component */

.goatedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: none;
    margin-top: 50px;
}

.goatedContainer h1 {
    font-size: 44px;
    color: rgba(30, 160, 30, 1);
    text-shadow: 0px 0px 20px rgba(30, 160, 30, 0.6);
    margin-bottom: 20px;
}

.goatedContainer img {
    width: 60%;
    border-radius: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.goatedContainer button {
    color: rgba(30, 200, 30, 1);
    background-color: #000;
    border: 2px solid rgba(30, 160, 30, 1);
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.goatedContainer button:hover {
    cursor: pointer;
    background-color: #101010;
    transform: scale(1.05);
}

/* Spaces Component */

.spaces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: none;
    margin-top: 75px;
    margin-bottom: 60px;
}

.spaces .textArea {
    width: 55%;
    margin-top: 20px;
}

.spaces h1 {
    color: lightblue;
    text-shadow: 0px 0px 15px rgba(45, 179, 224, 0.6);
}

.coolContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 500px;
    background-color: #000;
    border: 2px solid lightblue;
    border-radius: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 50px -12px rgba(45, 179, 224, 0.6);
}

.coolContainer iframe {
    height: 100%;
    width: 100%;
    border-radius: 22px;
}

/* Collections Component */

.collectionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: none;
    margin-bottom: 50px;
}

.collectionsContainer h1 {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 36px;
    color: rgba(255,255,255,0.8);
    text-shadow: 0px 0px 20px rgba(213, 18, 187, 0.8);
}

.collectionsContainer p {
    text-align: center;
}

.myCollections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
}

.collectionCard {
    height: auto;
    width: auto;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #000;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.collectionCard:hover {
    transform: scale(1.02);
}

#cc1 {
    border: 3px solid rgba(198, 18, 54, 0.8);
    box-shadow: 0px 0px 30px -5px rgba(198, 18, 54, 0.8);
}

#cc2 {
    border: 3px solid rgba(80, 13, 225, 0.8);
    box-shadow: 0px 0px 30px -5px rgba(80, 13, 225, 0.8);
}

#cc3 {
    border: 3px solid rgba(213, 18, 187, 0.8);
    box-shadow: 0px 0px 30px -5px rgba(213, 18, 187, 0.8);
}

#cc4 {
    border: 3px solid rgba(164, 238, 255, 0.8);
    box-shadow: 0px 0px 30px -5px rgba(164, 238, 255, 0.8);
}

.collectionCard img {
    height: 230px;
    width: 230px;
    margin: 10px;
    border-radius: 12px;
}

.collectionCard h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.collectionButtons {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.collectionButtons button {
    margin: 5px;
    margin-top: 0px;
    background: none;
    border-radius: 12px;
    border: 2px solid #151515;
    padding: 8px 10px;
    color: #e7e7e7;
}

.collectionButtons button:hover {
    cursor: pointer;
    background-color: #101010;
    transform: scale(1.05);
}

/* Partners Component */

.partnersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: none;
    margin-top: 50px;
}

.partnersContainer h1 {
    font-size: 36px;
    color: rgb(202, 185, 234);
    text-shadow: 0px 0px 20px rgba(80, 13, 225, 1);
    letter-spacing: 2px;;
}

.majorPartnersSection, .minorPartnersSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.minorPartnersSection {
    margin-bottom: 100px;
}

.majorPartnersSection img {
    min-width: 150px;
    max-width: 575px;
    height: 150px;
    margin: 20px;
}

.minorPartnersSection img {
    min-width: 150px;
    max-width: 575px;
    height: 150px;
    margin: 20px;
}

.minorPartnersSection img:hover, .majorPartnersSection img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.connectWithUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connectWithUs h1 {
    color: white;
    text-shadow: none;
}

/* Footer Component */

.footerContainer {
    height: auto;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: bold;
    background-color: #050505;
}

.footerSigContainer {
    width: 40%;
}

.footerSocialsContainer {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.footerSocialsContainer img {
    margin: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerSocialsContainer img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.footerSigContainer p {
    float: left;
}

/* Mobile/Tablet Config */

@media screen and (max-width: 1200px) {
    .coolContainer {
        width: 85%;
    }
}

@media screen and (max-width: 700px) {
    .textArea {
        width: 70%;
    }
    .headerTextArea {
        width: 75%;
    }
    .separator {
        width: 60%;
    }
    .spaces .textArea {
        width: 75%;
    }
}