/* Page Layout */

html, body, #root, .App, .main {
    height: 100%;
    margin: 0;
}

html {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 100%) fixed;
    color: #fff;
}

.separator {
    height: 2px;
    background-color: white;
    width: 20%;
    margin: 0px;
}

/* Header + Navbar Component */

.headerBar {
    width: 100%;
    height: auto;
    background-color: #101010;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbarContainer {
    overflow: hidden;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.navbar a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 20px 18px;
}

.menuDropdown {
    float: left;
    overflow: hidden;
}

.dropdownButton {
    font-weight: bold;
}

.menuDropdown .dropdownButton {
    color: white;
    background-color: inherit;
    font-size: 18px;
    font-family: inherit;
    margin: 0;
    padding: 20px 18px;
    border: none;
    outline: none;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #101010;
    min-width: 140px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,0.2);
}

.dropdownContent a {
    float: none;
    color: white;
    text-decoration: none;
    text-align: left;
    font-weight: 200;
    padding: 12px 16px;
    display: block;
}

/* Navbar Component Graphical Functions */

.dropdownContent a:hover {
    background-color: #202020;
}

.menuDropdown:hover .dropdownContent {
    display: block;
}

.navbar a:hover, .menuDropdown:hover .dropdownButton {
    color: #e7e7e7;
    background-color: #151515;
}

.navbar a:active {
    color: #d4af37;
}

/* Subheader */

.subheader {
    height: auto;
    /* background-color: rgba(255,0,0,0.3); */
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.subheader h1 {
    margin-top: 50px;
    font-size: 42px;
    margin-bottom: 0;
}

.subheader img {
    height: 70%;
}

/* Collections Component */

.collectionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* background-color: rgba(0,255,0,0.3); */
    background-color: none;
}

.collectionsContainer h1 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 36px;
}

.myCollections {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80%;
}

.collectionCard {
    height: auto;
    width: auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #303030;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.collectionCard:hover {
    border: 2px solid #909090;
}

.collectionCard img {
    height: 230px;
    width: 230px;
    margin: 10px;
    border-radius: 12px;
}

.collectionCard h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.collectionButtons {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.collectionButtons button {
    margin: 5px;
    margin-top: 0px;
    background: none;
    border-radius: 12px;
    border: 2px solid black;
    padding: 8px 10px;
    color: #e7e7e7;
}

.collectionButtons button:hover {
    cursor: pointer;
    background-color: #404040;
    transform: scale(1.05);
}

/* Partners Component */

.partnersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: none;
    margin-top: 50px;
}

.partnersContainer h1 {
    font-size: 36px;
}

.majorPartnersSection, .minorPartnersSection {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-content: center;
}

.majorPartnersSection img {
    width: 300px;
    height: 200px;
    margin: 20px;
}

.minorPartnersSection img {
    width: 150px;
    height: 150px;
    margin: auto;
}

/* Footer Component */

.footerContainer {
    height: 100px;
    width: 100%;
}